/*grid*/
.grid{
	display: grid;
}

.grid-template-columns-2{
	grid-template-columns: 600px 200px;
}

.grid-template-columns-1{
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

.center{
	justify-content: center;
}

/*geral*/
body{
	background-image: url("../img/background.jpg");
	background-size: 100%;
	font-family: 'Courier', sans-serif;
}

h1{
	color: white;
	text-shadow: 2px 2px 1px red;
}

div#jogo{
	border: 4px dashed red;
	width: 500px;
	height: 500px;
}

div#jogo div.quadradinho{
	border: 8px dotted yellow;
	border-top: none;
	border-left: none;
	background-repeat: no-repeat;
	background-color: red;
	background-size: 100%;
	text-align: center;
}

div#jogo div.quadradinho label{
	font-size: 100pt;
	margin: 0;
	padding: 0;
	color: white;
	text-shadow: 1px 1px 1px black;
}

hr{
	border: 1px dashed blue;
}

div#painel{
	height: 500px;
	width: 200px;
	border: 1px dashed blue;
	background-color: white;
	text-align: center;
}

div#painel button#reiniciar{
	margin-top: 20px;
	background-color: green;
	padding: 5px;
	border: none;
	border-radius: 8px;
	color: white;
	font-family: 'Courier', sans-serif;
}

div#painel button#reiniciar:hover{
	background-color: yellow;
	color: black;
}

div#painel button#reiniciar:active{
	background-color: red;
	color: white;
}

div#painel div#fim{
	margin-top: 40px;
	margin-bottom: 40px;
}

div#painel div#sobre{
	margin-top: 30px;
}